// COLOR

$black: #000000;
$blue: #0071ce;
$grey: #515151;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// padding

.p-tb-85 {
  padding: 85px 0;
}

.p-b-85 {
  padding-bottom: 85px;
}
